* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --star-color-primary: #319795;
  --star-modal-sz: 'xl';
}
.App{
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f1f4f4;
  
}
.App .loader-spinner{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  bottom: 0;
  height: 100vh;
  z-index: 2000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}